.years {
  padding-left: 68px;
  padding-right: 68px;
  position: relative;
  overflow: hidden;
  height: 45px;
  border: 1px solid #cfcfcf;
  background-color: #fff;
  box-shadow: 4px 4px 0 0 rgba(#000, .19);
  max-width: calc(100% - 65px);
  z-index: 2;

  @media (max-width: 767px) {
    display: none;
  }
}

.years__prev-arrow,
.years__next-arrow {
  height: 45px;
  width: 68px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 1;

  &:focus {
    outline: none;
  }
}

.years__prev-arrow {
  left: 0;
}

.years__next-arrow {
  right: 0;
}

.years__inner {
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;

  a {
    flex-shrink: 0;
    height: 45px;
    line-height: 45px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    color: #000;
    border-right: 1px solid #d8d8d8;

    &:focus {
      outline: none;
    }

    &.is-active {
      background-color: #cf2528;
      color: #fff;
    }
  }
}

.years-control {
  position: absolute;
  top: 320px;
  height: 53px;
  width: 53px;
  border: 0;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  z-index: 90;

  &:focus {
    outline: none;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.years-control--prev {
  left: 0;
  transform: translateX(-80px);
}

.years-control--next {
  right: 0;
  transform: translateX(80px);
}

.years--mobile {
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  z-index: 2;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: 1px solid #cfcfcf;
  background-color: #fff;
  box-shadow: 4px 4px 0 0 rgba(#000, .19);

  @media (min-width: 768px) {
    display: none;
  }
}

.years--mobile__inner {
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
}

.years--mobile__prev-arrow,
.years--mobile__next-arrow {
  width: 50px;
  height: 45px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
}

.years--mobile__prev-arrow {
  left: 0;
}

.years--mobile__next-arrow {
  right: 0;
}

.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .3s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
