<template>
  <div>
    <div class="container">
      <div class="relative">
        <button type="button" class="years-control years-control--prev" v-on:click="prevYear('arrow')" v-if="currentYear > 1991">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="14" viewBox="0 0 21 14">
            <path fill="#000000" d="M7,4.75735931 L2.34314575,9.41421356 L0.928932188,8 L8,0.928932188 L15.0710678,8 L13.6568542,9.41421356 L9,4.75735931 L9,21.0069431 L7,21.0069431 L7,4.75735931 Z" transform="rotate(-90 7 8)" opacity=".8"/>
          </svg>
        </button>
        <button type="button" class="years-control years-control--next" v-on:click="nextYear('arrow')" v-if="currentYear > 1991 && currentYear < 2018">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="15" viewBox="0 0 22 15">
            <g fill="none" fill-rule="evenodd" stroke="#000000" stroke-width="2" transform="matrix(0 -1 -1 0 20 14)" opacity=".8">
              <polyline points="2 2 11 2 11 11" transform="rotate(-45 6.5 6.5)"/>
              <path d="M6.5,1 L6.5,19.0069431"/>
            </g>
          </svg>
        </button>

        <div class="years--mobile">
          <button type="button" class="years--mobile__prev-arrow" v-on:click="prevYearMobile()">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="14" viewBox="0 0 21 14">
              <path fill="#000000" d="M7,4.75735931 L2.34314575,9.41421356 L0.928932188,8 L8,0.928932188 L15.0710678,8 L13.6568542,9.41421356 L9,4.75735931 L9,21.0069431 L7,21.0069431 L7,4.75735931 Z" transform="rotate(-90 7 8)" opacity=".8"/>
            </svg>
          </button>
          <div class="years--mobile__inner" v-text="getLinkText(currentYear)"></div>
          <button type="button" class="years--mobile__next-arrow" v-on:click="nextYearMobile()">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="15" viewBox="0 0 22 15">
              <g fill="none" fill-rule="evenodd" stroke="#000000" stroke-width="2" transform="matrix(0 -1 -1 0 20 14)" opacity=".8">
                <polyline points="2 2 11 2 11 11" transform="rotate(-45 6.5 6.5)"/>
                <path d="M6.5,1 L6.5,19.0069431"/>
              </g>
            </svg>
          </button>
        </div>

        <transition appear enter-active-class="animated slideInUp">
        <div class="years">
          <button type="button" class="years__prev-arrow"
            v-on:click="handleScroll('prev')"
            v-show="scrollLeft > 0">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="14" viewBox="0 0 21 14">
                <path fill="#000000" d="M7,4.75735931 L2.34314575,9.41421356 L0.928932188,8 L8,0.928932188 L15.0710678,8 L13.6568542,9.41421356 L9,4.75735931 L9,21.0069431 L7,21.0069431 L7,4.75735931 Z" transform="rotate(-90 7 8)" opacity=".8"/>
              </svg>
            </button>
          <div class="years__inner">
            <a href
              v-for="(value, key) in years"
              v-bind:key="key"
              :class="{ 'is-active': currentYear == key }"
              @click="setYear(key, $event)">
              {{ getLinkText(key) }}
            </a>
          </div>
          <button type="button" class="years__next-arrow"
            v-on:click="handleScroll('next')"
            v-show="(scrollLeft + offsetWidth) < scrollWidth">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="15" viewBox="0 0 22 15">
              <g fill="none" fill-rule="evenodd" stroke="#000000" stroke-width="2" transform="matrix(0 -1 -1 0 20 14)" opacity=".8">
                <polyline points="2 2 11 2 11 11" transform="rotate(-45 6.5 6.5)"/>
                <path d="M6.5,1 L6.5,19.0069431"/>
              </g>
            </svg>
          </button>
        </div>
        </transition>
      </div>
    </div>

    <detail
      :data="years[currentYear]"
      :year="currentYear"
      :authors="years"
      @prev="prevYear()"
      @next="nextYear()">
    </detail>

    <popup :data="years[currentYear].caption" :titles="years[currentYear].titles"></popup>

    <timeline :data="years[currentYear].days" v-if="currentYear > 1991 && currentYear < 2018"></timeline>

    <footer class="footer" v-if="currentYear == 1991 || currentYear == 2018">
      <div class="footer__inner">
        <span class="footer__lead">Ďalšie weby skupiny</span>
        <a href="https://www.post.sk/">Prihlásenie do Post.sk</a>
        <a href="http://ujszo.com/">Új Szó</a>
        <a href="https://spectator.sme.sk/">Slovak Spectator</a>
        <a href="http://www.petitpress.sk/inzercia/">Inzercia</a>
        <a href="https://www.sme.sk/dok/20455056/zasady-nakladania-s-osobnymi-udajmi-uzivatelov/">Osobné údaje</a>
        <a href="http://online.aimmonitor.sk/">Návštevnosť webu</a>
        <a href="http://www.abcsr.sk/">Predajnosť tlače</a>
        <a href="http://www.petitacademy.sk/">Petit Academy</a>
        <a href="https://www.sme.sk/dok/20455044/vzdelavaci-projekt-pre-ziakov-zakladnych-skol-a-studentov-gymnazii-a-strednych-skol/">SME v škole</a>
      </div>
      <div class="footer__copy">© Copyright 1997-2017 | Petit Press, a.s.</div>
    </footer>
  </div>
</template>

<script>
import Detail from './../Detail/Detail';
import Timeline from './../Timeline/Timeline';
import Popup from './../Popup/Popup';
import YearPicker from './../YearPicker/YearPicker';

import { tracking } from './../../utils/tracking';
import { sharing } from './../../utils/sharing';
import { EventBus } from './../../main';
import { scrollIt } from './../../utils/scroll-it';

export default {
  name: 'Years',
  components: {
    Detail,
    Timeline,
    Popup,
    YearPicker
  },
  created() {
    document.addEventListener('keydown', this.keyNavigate);

    EventBus.$on('fbShare', () => {
      tracking.share('btn_fb', this.currentYear);
      sharing.facebook();
    });

    EventBus.$on('twShare', () => {
      tracking.share('btn_tw', this.currentYear);
      sharing.twitter();
    });

    EventBus.$on('commentsShare', () => {
      tracking.share('btn_disqus', this.currentYear);
      sharing.comments();
    });

    EventBus.$on('startRead', () => {
      this.currentYear = 1992;
      scrollIt(
        0,
        300,
        'easeOutQuad'
      );

      tracking.navigation('btn_start', this.currentYear);
    });

    EventBus.$on('startReadYear', () => {
      tracking.navigation('btn_read_year', this.currentYear);
    });
  },
  beforeDestroy() {
    document.removeEventListener('keydown', this.keyNavigate);
  },
  data() {
    return {
      years: require('./data.json'),
      scrollWidth: 0,
      scrollLeft: 0,
      offsetWidth: 0,
      currentYear: 1991,
      yearPickerVisible: false
    };
  },
  mounted() {
    const inner = document.querySelector('.years__inner');

    this.scrollWidth = inner.scrollWidth;
    this.scrollLeft = inner.scrollLeft;
    this.offsetWidth = inner.offsetWidth;
  },
  methods: {
    getLinkText(year) {
      switch (year) {
        case '1991':
        case 1991:
          return 'ÚVOD';
          break
        case '2018':
        case 2018:
          return 'ZÁVER';
          break;
        default:
          return year;
      }
    },
    closeYearPicker() {
      this.yearPickerVisible = false;
    },
    keyNavigate(e) {
      switch (e.keyCode) {
        case 37:
          this.prevYear('keyboard');
          break;
        case 39:
          this.nextYear('keyboard');
      }
    },
    setYear(year, event) {
      if (event) { event.preventDefault(); }

      this.currentYear = parseInt(year);

      tracking.navigation('navigation', this.currentYear);
    },
    updateArrowsVisibility() {
      const inner = document.querySelector('.years__inner');

      this.scrollWidth = inner.scrollWidth;
      this.scrollLeft = inner.scrollLeft;
      this.offsetWidth = inner.offsetWidth;
    },
    handleScroll(direction) {
      const timeline = document.querySelector('.years__inner');
      const scrollLeft = timeline.scrollLeft;
      let newScrollLeft = 0;

      if (direction === 'prev') {
        newScrollLeft = timeline.scrollLeft - 100;
      } else {
        newScrollLeft = timeline.scrollLeft + 100;
      }

      TinyAnimate.animate(scrollLeft, newScrollLeft, 300, (x) => {
          timeline.scrollLeft = x;
        }, 'linear', () => {
          this.updateArrowsVisibility();
        });
    },
    prevYear(trigger) {
      if (this.currentYear > 1991 && this.currentYear < 2018) {
        const currentLink = document.querySelector('.years__inner .is-active');
        const timeline = document.querySelector('.years__inner');

        const linkOffset = currentLink.getBoundingClientRect().left;
        const timelineOffset = timeline.getBoundingClientRect().left;

        const diff = linkOffset - timelineOffset;

        if (diff < 45) {
          const scrollLeft = timeline.scrollLeft;
          const newScrollLeft = timeline.scrollLeft - 100;

          TinyAnimate.animate(scrollLeft, newScrollLeft, 300, (x) => {
            timeline.scrollLeft = x;
          }, 'linear', () => {
            this.updateArrowsVisibility();
          });
        }
      }

      if (this.currentYear > 1991) {
        this.currentYear -=1;

        tracking.navigation(trigger, this.currentYear);

        scrollIt(0, 300, 'easeOutQuad');
        document.querySelector('.timeline__wrap').scrollTop = 0;
        document.querySelector('.timeline__wrap').style.overflow = 'hidden';
      }
    },
    nextYear(trigger) {
      if (this.currentYear > 1991 && this.currentYear < 2018) {
        const timeline = document.querySelector('.years__inner');
        const timelineWidth = timeline.offsetWidth;

        const currentLink = document.querySelector('.years__inner .is-active');
        const linkOffset = currentLink.getBoundingClientRect().left;

        if (linkOffset > timelineWidth) {
          const scrollLeft = timeline.scrollLeft;
          const newScrollLeft = timeline.scrollLeft + 80;

          TinyAnimate.animate(scrollLeft, newScrollLeft, 300, (x) => {
            timeline.scrollLeft = x;
          }, 'linear', () => {
            this.updateArrowsVisibility();
          });
        }
      }

      if (this.currentYear < 2018) {
        this.currentYear += 1;

        tracking.navigation(trigger, this.currentYear);

        scrollIt(0, 300, 'easeOutQuad');
        document.querySelector('.timeline__wrap').scrollTop = 0;
        document.querySelector('.timeline__wrap').style.overflow = 'hidden';
      }
    },
    prevYearMobile() {
      if (this.currentYear > 1991) {
        this.currentYear -=1;
      }
    },
    nextYearMobile() {
      if (this.currentYear < 2018) {
        this.currentYear += 1;
      }
    }
  }
};
</script>

<style src="./Years.scss" lang="scss"></style>
