.entry {
  margin-bottom: 75px;

  @media (min-width: 768px) {
    display: flex;
    align-items: flex-start;
  }
}

.entry__author {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 25px;

  @media (min-width: 768px) {
    margin-right: 30px;
    flex-shrink: 0;
  }

  img {
    margin-bottom: 30px;

    @media (max-width: 767px) {
      border-bottom: 1px solid #d8d8d8;
    }
  }
}

.entry__author-image--wide {
  @media (min-width: 768px) {
    display: none !important;
  }
}

.entry__author-image--tall {
  @media (max-width: 767px) {
    display: none;
  }
}

.entry__pointer {
  height: 53px;
  width: 53px;
  border: 1px solid #cfcfcf;
  border-radius: 50%;
  background-color: rgba(#fff, .05);

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;

  @media (max-width: 767px) {
    display: none;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.entry__author-name,
.entry__author-position {
  font-family: 'fedra-bold';
  font-size: 15px;
  line-height: 20px;

  @media (max-width: 767px) {
    text-align: center;
  }
}

.entry__content {
  flex: auto;
  font-family: "greta-light";

  p {
    font-size: 18px;
    line-height: 26px;
  }
}

.entry-carousel-wrap {
  position: relative;
  margin-bottom: 90px;
  text-align: center;

  @media (min-width: 768px) {
    top: -45px;
  }

  h1 {
    font-family: 'fedra-bold';
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: calc(100% - 40px);
    margin: 0;

    @media (min-width: 768px) {
      font-size: 60px;
    }
  }
}

.entry-carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
