<template>

  <div>
    <transition appear enter-active-class="animated fadeIn">
      <div class="entry-carousel-wrap">
        <img src="./../../../static/entrySlides/entry-slide-placeholder.gif" class="center-block img-responsive">

        <div v-for="(slide, index) in slides" v-bind:key="index">
          <transition name="fade">
            <div class="entry-carousel-item" v-if="currentSlide == index">
              <img :src="slide" class="center-block img-responsive">
            </div>
          </transition>
        </div>

        <h1>SME vás prevedie cez štvrťstoročie</h1>

        <div class="entry__pointer">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="21" viewBox="0 0 15 21">
            <g fill="none" fill-rule="evenodd" stroke="#FFFFFF" stroke-width="2" transform="matrix(1 0 0 -1 1 19)">
              <polyline points="2 2 11 2 11 11" transform="rotate(-45 6.5 6.5)"/>
              <path d="M6.5,0 L6.5,18.0069431"/>
            </g>
          </svg>
        </div>
      </div>
    </transition>
    <transition appear enter-active-class="animated slideInUp">
      <div class="wrapper wrapper--850">
        <div class="entry">
          <div class="entry__author">
            <img src="./../../../static/images/entry-author-tall.jpg" class="entry__author-image--tall">
            <img src="./../../../static/images/entry-author-wide.jpg" class="center-block img-responsive entry__author-image--wide">
            <div class="entry__author-name">Beata Balogová</div>
            <div class="entry__author-position">Šéfredaktorka</div>
          </div>
          <div class="entry__content">
            <p class="fs21">Významné dni si pamätáme aj cez vlastné príbehy. Rozmýšľame, kde sme boli v 1989, komu sme v 1993 tlieskali a čoho sme sa v 1995 báli.</p>
            <p>Mnohí si tie novembrové dni autenticky pamätajú. Stáli na námestiach a vdychovali hustú hmlu, ktorá padala z nahých stromov. Bola to revolúcia. Nie všetci hneď pochopili, že sa deje niečo veľké, čo sa nebude dať vtesnať do strohého vyhlásenia o narušení pokoja a odvysielať v jediných televíznych novinách. </p>
            <p>Niektorí kachličkovali kúpeľňu a mali svoje kariéry nasmerované tak, aby mohli cieľavedome napredovať v bludiskách komunistickej hierarchie. Aj keď ich revolúcia zaskočila, rýchlo sa zorientovali a neskôr napredovali v demokraticky zvolených straníckych štruktúrach. A tak ich znehodnocovali. Spoločensky významné dni si pamätáme aj cez vlastné príbehy. Rozmýšľame, kde sme boli v 1989, komu sme v roku 1993 tlieskali a čoho sme sa v roku 1995 báli. Ktoré udalosti boli naším víťazstvom a ktoré boli prehrami. Ale médiá nám pomáhajú, aby sme tie udalosti videli aj mimo hraníc vlastných životov: kam až siahajú a aké môžu mať následky. Aj pre naše životy. </p>
            <p>Denník SME vždy rozprával dôležité príbehy: ľudí, ideálov, veľkých víťazstiev a tvrdých pádov. Príbehy korupcie a príbehy odvahy. Tragédie nezvládnutého ega, malichernosti, provinčnosti, ale aj príbehy veľkorysosti, múdrosti a vytrvalosti. Už 25 rokov ich rozprávame, odkedy sa to moderné Slovensko objavilo na mape Európy. </p>
            <p>SME tu bolo v časoch, keď vznikala krajina na ruinách starého režimu a príliš veľa z toho vraku sa použilo ako materiál na novú stavbu. A noviny na tento problémový materiál upozorňovali, nech sa objavoval kdekoľvek: v zákonoch, v politických stranách alebo v konkrétnych ľuďoch. A táto služba verejnosti vytvárala genetický kód SME, ktorý dodnes charakter novín ovplyvňuje. </p>
            <p>Na týchto stránkach pripomenieme 25 rokov existencie Slovenska a taktiež histórie denníka SME. Vrátime sa k príbehom, ktoré formovali charakter krajiny, udalostiam, z ktorých by sa múdri politici v dobre spravovanej krajine poučili, aby sa politické chyby nededili ako poškodené rodinné artefakty, ktoré skrývame v pivniciach. </p>
            <p>Zároveň vám vyrozprávame aj príbeh denníka SME. Ako sme čitateľov za posledné štvrťstoročie sprevádzali, aby pochopili, prečo je dôležité, aby sme im aj naďalej tieto príbehy rozprávali. </p>

            <button type="button" class="btn-begin" @click="startRead()">Začať čítať</button>
          </div>
        </div>
      </div>
    </transition>
  </div>

</template>

<script>
import { Carousel, Slide } from 'vue-carousel';
import { EventBus } from './../../main';

export default {
  components: {
    Carousel,
    Slide
  },
  name: 'Entry',
  mounted() {
    this.startRotation();
  },
  methods: {
    startRotation() {
      this.timer = setInterval(this.nextSlide, 3000);
    },
    startRead() {
      EventBus.$emit('startRead');
    },
    nextSlide() {
      if (this.currentSlide < (this.slides.length - 1)) {
        this.currentSlide++;
      } else {
        this.currentSlide = 0;
      }
    }
  },
  data() {
    return {
      slides: [
        './static/entrySlides/uvod01.jpg',
        './static/entrySlides/uvod02.jpg',
        './static/entrySlides/uvod03.jpg',
        './static/entrySlides/uvod04.jpg',
        './static/entrySlides/uvod05.jpg',
        './static/entrySlides/uvod06.jpg',
        './static/entrySlides/uvod07.jpg',
        './static/entrySlides/uvod08.jpg',
        './static/entrySlides/uvod09.jpg',
        './static/entrySlides/uvod10.jpg',
        './static/entrySlides/uvod11.jpg',
        './static/entrySlides/uvod12.jpg',
        './static/entrySlides/uvod13.jpg',
        './static/entrySlides/uvod14.jpg',
        './static/entrySlides/uvod15.jpg',
        './static/entrySlides/uvod16.jpg',
        './static/entrySlides/uvod17.jpg',
        './static/entrySlides/uvod18.jpg',
        './static/entrySlides/uvod19.jpg',
        './static/entrySlides/uvod20.jpg',
        './static/entrySlides/uvod21.jpg',
        './static/entrySlides/uvod22.jpg',
        './static/entrySlides/uvod23.jpg',
        './static/entrySlides/uvod24.jpg',
        './static/entrySlides/uvod25.jpg',
        './static/entrySlides/uvod26.jpg'
      ],
      currentSlide: 0,
      rotationTime: null
    }
  }
}
</script>

<style src="./Entry.scss" lang="scss"></style>
