<template>
  <div class="year-picker">
    <button type="button" @click="$emit('set')">set year</button>
  </div>
</template>

<script>
export default {
  name: 'YearPicker'
}
</script>

<style src="./YearPicker.scss" lang="scss"></style>
