.detail {
  transform: translateY(-45px);
  position: relative;
  z-index: 1;
  overflow: hidden;

  @media (min-width: 1260px) {
    height: 711px;
    margin-bottom: 100px;
  }
}

.detail__content {
  padding-top: 80px;
  position: relative;
  overflow: hidden;

  @media (min-width: 1260px) {
    height: 100%;
  }

  @media (max-width: 1259px) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 20px;
  }

  h1 {
    font-family: "fedra-heavy";
    font-size: 22px;
    line-height: 42px;
    max-width: 650px;
    margin-top: 0;

    font-size: 21px;
    line-height: 25px;

    @media (min-width: 540px) and (max-width: 991px) {
      font-size: 32px;
      line-height: 58px;
    }

    @media (min-width: 992px) {
      font-size: 45px;
      line-height: 60px;
    }

    span {
      background-color: #fff;
      display: inline;
      padding: 5px;
    }
  }
}

.detail__actions {
  max-width: 450px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(-180deg, rgba(#fff, 0) 0%, #fff 68%);

  @media (max-width: 1260px) {
    display: none;
  }
}

.detail__browse {
  max-width: 400px;

  @media (max-width: 1260px) {
    display: none;
  }
}

.detail__caption--desktop {
  max-width: 450px;

  @media (max-width: 1260px) {
    display: none;
  }
}

.detail__caption--mobile {
  @media (min-width: 1261px) {
    display: none;
  }
}

.detail__browse--mobile {
  margin-bottom: 40px;

  @media (min-width: 1261px) {
    display: none;
  }
}

.detail__cover {
  display: block;
  max-width: 100%;
  height: auto;

  @media (max-width: 991px) {
    padding-left: 50px;
  }

  @media (max-width: 1259px) {
    margin-left: auto;
  }

  @media (min-width: 1260px) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.detail__which {
  padding: 15px;
  position: absolute;
  right: 0;
  background-color: #fff;

  @media (max-width: 1259px) {
    display: none;
  }

  @media (min-width: 1260px) {
    top: 534px;
  }
}
