<template>
      <div class="swipe">
      <transition name="slide-fade" mode="out-in">
        <div :key="data.id">
          <entry v-if="year == 1991"></entry>

          <div v-if="!(year == 1991 || year == 2018)">
            <div class="container">
            <div class="detail" :key="data.id">
              <img class="detail__cover" v-bind:src="'/static/images/' + year +'.jpg'" width="568" height="711">
              <img class="detail__which" v-bind:src="'/static/years/' + year +'.svg'">
              <div class="detail__content">
                <h1>
                  <span v-for="title of data.titles" v-bind:key="title">
                    {{ title }}
                  </span>
                </h1>
                <div class="detail__caption--desktop content">
                  <preview :data="data.caption"></preview>
                </div>
                <div class="detail__actions">
                  <button type="button" class="entry-btn" @click="expandDetail()">Čítať viac</button>
                </div>
              </div>
            </div>
            <div class="detail__browse--mobile px2">
              <button type="button" class="entry-btn" @click="expandDetail()">Čítať viac</button>
            </div>
          </div>
          </div>

          <final v-if="year == 2018" :data="authors"></final>
        </div>
      </transition>
    </div>
</template>

<script>
import Entry from './../Entry/Entry';
import Final from './../Final/Final';
import Preview from './../Preview/Preview';
import * as Hammer from 'hammerjs';
import { scrollIt } from './../../utils/scroll-it';
import { EventBus } from './../../main';

export default {
  name: 'Detail',
  props: ['data', 'year', 'authors'],
  components: {
    Entry,
    Final,
    Preview
  },
  watch: {
    data(n, o) {
      this.isCollapsed = true;
    }
  },
  mounted() {
    // const swipe = document.querySelector('.swipe');
    // const hammer = new Hammer(swipe);

    // hammer.on('swipeleft', () => {
    //   this.swipeLeft();
    // });

    // hammer.on('swiperight', () => {
    //   this.swipeRight();
    // });
  },
  data() {
    return {
      isCollapsed: true
    }
  },
  methods: {
    expandDetail() {
      this.isCollapsed = false;

      EventBus.$emit('showDetail');
    },
    swipeLeft() {
      this.$emit('next');
    },
    swipeRight() {
      this.$emit('prev');
    },
    scrollToTimeline() {
      EventBus.$emit('startReadYear');

      scrollIt(
        document.querySelector('.timeline'),
        300,
        'easeOutQuad'
      );
    }
  }
};
</script>
<style src="./Detail.scss" lang="scss"></style>
