<template>
  <div class="popup" :class="{ 'is-visible': popupVisible }">
    <div class="popup__inner">

      <div class="wrapper wrapper--560">
        <h1>
          <span v-for="title of titles" v-bind:key="title">
            {{ title }}
          </span>
        </h1>
      </div>

      <div class="wrapper wrapper--560">
        <preview :data="data" :titles="titles"></preview>
      </div>
    </div>
    <div class="popup__close">
      <button type="button" @click="hidePopup()">Zatvoriť</button>
    </div>
  </div>
</template>

<script>
import { EventBus } from './../../main';
import Preview from './../Preview/Preview';

export default {
  components: {
    Preview
  },
  name: 'Popup',
  props: ['data', 'titles'],
  data() {
    return {
      popupVisible: false
    }
  },
  created() {
    EventBus.$on('showDetail', () => {
      this.showPopup();
    })
  },
  methods: {
    hidePopup() {
      document.body.style.overflowY = 'auto';
      this.popupVisible = false;
    },
    showPopup() {
      document.body.style.overflowY = 'hidden';
      this.popupVisible = true;
    }
  }
};
</script>

<style src="./Popup.scss" lang="scss"></style>
