.popup {
  will-change: transform, opacity;
  transition: transform .3s ease, opacity .3s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9900;
  transform: translate3d(0, 100%, 0);
  opacity: 0;
  overflow: auto;

  &.is-visible {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.popup__inner {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;

  h1 {
    font-family: "fedra-heavy";
    font-size: 24px;
    margin: 30px 0;

    @media (min-width: 768px) {
      font-size: 45px;
    }
  }
}

.popup__inner {
  overflow: auto;
}

.popup__close {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);

  button {
    font-family: 'fedra-bold';
    text-transform: uppercase;
    width: 200px;
    height: 57px;
    line-height: 57px;
    border: 1px solid #cf2528;
    background-color: #fff;
    color: #cf2528;
    border-radius: 30px;
  }
}
