[v-cloak] { display: none; }

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #000;
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.btn-begin {
  font-family: 'fedra-bold';
  font-size: 16px;
  background-color: #cf2528;
  border: 1px solid #cf2528;
  border-radius: 30px;
  padding: 0;
  color: #fff;
  width: 100%;
  height: 55px;
  line-height: 55px;
  margin-top: 45px;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 80px;

  button {
    height: 53px;
    width: 53px;
    background-color: transparent;
    border: 1px solid #cfcfcf;
    border-radius: 50%;
    position: relative;

    &:not(:last-child) {
      margin-right: 15px;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.entry-btn {
  font-family: 'fedra-bold';
  text-transform: uppercase;
  height: 57px;
  line-height: 57px;
  width: 100%;
  display: block;
  border: 1px solid #cf2528;
  color: #cf2528;
  background-color: #fff;
  border-radius: 30px;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &:before {
    content: "";
    padding-top: 56.25%;
    display: block;
  }

  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
