@font-face {
  font-family: "fedra-heavy";
  src:
  url('./../../static/fonts/fedra-heavy/fedra-display-heavy.woff') format("woff"),
  url('./../../static/fonts/fedra-heavy/fedra-display-heavy.ttf') format("truetype");
}

@font-face {
  font-family: 'fedra-bold';
  src:
  url('./../../static/fonts/fedra-bold/FedraSansAltStd-Bold.woff2') format('woff2'),
  url('./../../static/fonts/fedra-bold/FedraSansAltStd-Bold.woff') format('woff');
}

@font-face {
  font-family: "greta-light";
  src:
  url('./../../static/fonts/greta-light-normal/greta-light-normal.woff') format("woff"),
  url('./../../static/fonts/greta-light-normal/greta-light-normal.ttf') format("truetype");
}

.fs18 {
  font-size: 18px;
}

.fs21 {
  font-size: 21px;
}
