.footer {
  padding-top: 30px;
  padding-bottom: 50px;
  border-top: 1px solid #d8d8d8;
  text-align: center;
  overflow: hidden;

  a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    margin: 0 5px 5px;
  }
}

.footer__inner {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.footer__lead {
  color: #cf2528;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__copy {
  margin-top: 30px;
}
