.header {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 15px;

  svg {
    height: 35px;
    width: 103px;
    fill: #cf2528;
    margin-bottom: 10px;
  }
}

.header__title {
  font-family: "fedra-heavy";
  text-transform: uppercase;
}
