.relative {
  position: relative;
}

.caps {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.block {
  display: block;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mt6 {
  margin-top: 60px;
}

.mb9 {
  margin-bottom: 90px;
}

.pl4 {
  padding-left: 40px;
}

.px4 {
  padding-left: 40px;
  padding-right: 40px;
}

.px2 {
  padding-left: 20px;
  padding-right: 20px;
}

.mb2 {
  margin-bottom: 20px;
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper--850 {
  max-width: 850px;
}

.wrapper--560 {
  max-width: 560px;
}
