[class*="preview__"] {
  margin: 30px 0;
}

.preview__perex {
  font-size: 18px;
  line-height: 28px;
}

.preview__paragraph {
  font-family: "greta-light";
  font-size: 17px;
  line-height: 24px;
}

.preview__bold {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.preview__quote {
  padding-left: 63px;
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;

  svg {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.preview__quoted-text {
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
}

.preview__quoted-author {
  font-size: 15px;
  line-height: 19px;
  font-weight: 700;
}
