<template>
  <div>
    <div v-for="(item, index) of data" v-bind:key="index">
      <!-- perex -->
      <div v-if="item.type == 'perex'" class="preview__perex">
        <div v-html="item.text"></div>
      </div>

      <!-- paragraph -->
      <div v-if="item.type == 'paragraph'" class="preview__paragraph">
        <div v-html="item.text"></div>
      </div>

      <!-- quote -->
      <div v-if="item.type == 'quote'" class="preview__quote">
        <svg width="49px" height="40px" viewBox="0 0 49 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-223.000000, -911.000000)">
            <g id="Group-4" transform="translate(218.000000, 911.000000)" fill="#CF2528">
              <path d="M5.46,29.12 C5.46,19.46 14.28,7.28 26.04,0.28 L27.58,1.96 C22.26,7.98 17.92,14.7 17.92,19.88 C17.92,23.94 19.88,28.56 26.46,29.4 C26.46,34.44 21.42,39.48 15.68,39.48 C9.52,39.48 5.46,34.86 5.46,29.12 Z M31.5,29.12 C31.5,19.46 40.32,7.28 51.94,0.28 L53.48,1.96 C48.3,7.98 43.96,14.7 43.96,19.88 C43.96,23.94 45.92,28.56 52.5,29.4 C52.5,34.44 47.46,39.48 41.72,39.48 C35.56,39.48 31.5,34.86 31.5,29.12 Z" id="“"></path>
            </g>
          </g>
        </svg>
        <div class="preview__quoted-text" v-html="item.text"></div>
        <div class="preview__quoted-author" v-html="item.author"></div>
      </div>

      <!-- bold -->
      <div v-if="item.type == 'bold'" class="preview__bold">
        <div v-html="item.text"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Preview',
  props: ['data']
}
</script>

<style src="./Preview.scss" lang="scss"></style>
