<template>
  <div class="timeline">

    <div class="y-nav">
      <div class="y-nav__background"></div>
      <div class="y-nav__overlay y-nav__overlay--top"></div>
      <div class="y-nav__marker">
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="15" viewBox="0 0 10 15">
          <polyline fill="none" stroke="#FFFFFF" stroke-width="2" points="139 1481 148 1481 148 1490" transform="rotate(45 1856.604 575.09)"/>
        </svg>
      </div>
      <div class="y-nav__overlay y-nav__overlay--bottom"></div>
      <div class="y-nav__scroll">
        <div class="y-nav__item"
          v-for="(day, index) in data"
          v-bind:key="index"
          @click="setDay(index)">
          <div class="y-nav__link">{{ day.date | shortDate }}</div>
        </div>
      </div>
    </div>

    <div class="x-nav-wrap">
      <div class="x-nav">
        <div class="x-nav__overlay x-nav__overlay--left"></div>
        <div class="x-nav__marker">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="9" viewBox="0 0 14 9">
            <polyline fill="none" stroke="#FFFFFF" stroke-width="2" points="4.802 25.5 13.802 25.5 13.802 34.5" transform="rotate(-45 -18.77 21.628)"/>
          </svg>
        </div>
        <div class="x-nav__overlay x-nav__overlay--right"></div>
        <div class="x-nav__scroll">
          <div class="x-nav__item"
            v-for="(day, index) in data"
            v-bind:key="index"
            @click="setDay(index)">
            <div class="x-nav__link">{{ day.date | shortDate }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="timeline__wrap">
      <div
        v-for="(day, index) in data"
        v-bind:key="index"
        :id="'timeline-entry-' + index"
        class="timeline-entry"
        :data-item="index">

        <div class="timeline__entry-item" v-if="day.type == 'entry'">
          <div class="timeline__entry-item__image">
            <img :src="day.authorImage" alt="">
          </div>
          <div class="timeline__entry-item__content">
            <div class="timeline__title" v-html="day.title"></div>
            <div class="timeline__subtext" v-html="day.text"></div>

            <div class="timeline__entry-item__author" v-html="day.author"></div>
          </div>
        </div>

        <div class="timeline__item"
          v-bind:class="day.format"
          v-if="!day.author && day.type != 'gallery' && day.type != 'video' && day.type != 'infographics'">
          <div class="timeline__inner">
            <div class="timeline__title" v-html="day.date"></div>
            <div class="timeline__text" v-html="day.title"></div>
          </div>
          <div v-if="day.img" class="timeline__image">
            <img :src="day.img" alt="" v-if="day.format == 'wide'" width="585" height="350">
            <img :src="day.img" alt="" v-if="day.format == 'narrow'" width="445" height="530">
          </div>
        </div>

        <div class="timeline__item timeline__item--gallery" v-if="day.type == 'gallery'">
          <div class="timeline__inner">
            <div class="timeline__title" v-html="day.date"></div>
            <div class="timeline__text" v-html="day.title"></div>
          </div>

          <div class="carousel">
            <carousel
              :loop="true"
              v-on:pageChange="pageChange"
              :perPage="1"
              :navigationEnabled="true"
              :navigationClickTargetSize="0"
              :paginationEnabled="false"
              :navigationNextLabel="getNextIcon()"
              :navigationPrevLabel="getPrevIcon()">
              <slide v-for="(item, index) of day.gallery" v-bind:key="index">
                <img :src="item.image" alt="">
              </slide>
            </carousel>
          </div>

          <div class="timeline__inner">
            <div
              class="timeline__subtext"
              v-for="(item, index) of day.gallery" v-bind:key="index"
              v-if="currentSlide == index"
              v-html="item.caption">
            </div>
          </div>
        </div>

        <div class="timeline__item" v-if="day.type == 'video'">
          <div class="timeline__inner">
            <div class="timeline__title" v-html="day.date"></div>
            <div class="timeline__text" v-html="day.title"></div>
          </div>

          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" :src="day.videoUrl" allowfullscreen></iframe>
          </div>
        </div>

        <div class="timeline__item timeline__item--infographics" v-if="day.type == 'infographics'">
          <div class="timeline__inner">
            <div class="timeline__title" v-html="day.date"></div>
            <div class="timeline__text" v-html="day.title"></div>
          </div>
          <img :src="day.infographics" alt="">
        </div>

        <div class="timeline__entry-item" v-if="day.type == 'final'">
          <div class="timeline__entry-item__image">
            <img :src="day.authorImage" alt="">
          </div>
          <div class="timeline__entry-item__content">
            <div class="timeline__title" v-html="day.title"></div>
            <div class="timeline__subtext" v-html="day.text"></div>

            <div class="timeline__entry-item__author" v-html="day.author"></div>
          </div>
        </div>

      </div>
    </div>

    <div class="share-button--mobile">
      <div class="share-box" v-bind:class="{'is-visible': mobileShareboxVisible}">
        <button class="timeline__button" type="button" @click="twitterShare()">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="19" viewBox="0 0 23 19">
            <path fill="#000000" d="M22.444,2.834 C21.63,3.197 20.944,3.209 20.217,2.85 C21.155,2.288 21.198,1.893 21.537,0.831 C20.659,1.352 19.686,1.731 18.651,1.935 C17.823,1.053 16.642,0.5 15.335,0.5 C12.825,0.5 10.791,2.536 10.791,5.044 C10.791,5.4 10.831,5.747 10.908,6.08 C7.132,5.891 3.783,4.082 1.542,1.332 C1.151,2.003 0.927,2.784 0.927,3.617 C0.927,5.194 1.73,6.584 2.948,7.399 C2.203,7.375 1.503,7.171 0.891,6.831 C0.89,6.85 0.89,6.868 0.89,6.888 C0.89,9.09 2.456,10.926 4.536,11.344 C3.87,11.525 3.168,11.553 2.483,11.423 C3.062,13.227 4.74,14.541 6.728,14.578 C4.783,16.102 2.372,16.737 0,16.459 C2.012,17.748 4.399,18.5 6.966,18.5 C15.324,18.5 19.894,11.576 19.894,5.571 C19.894,5.373 19.891,5.178 19.882,4.983 C20.769,4.343 21.835,3.746 22.444,2.834 Z"/>
          </svg>
        </button>
        <button class="timeline__button" type="button" @click="facebookShare()">
          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="24" viewBox="0 0 13 24">
            <path fill="#333333" d="M12.768,7.465 L8.5,7.465 L8.5,5.56 C8.5,4.664 9.094,4.455 9.512,4.455 C9.93,4.455 12.5,4.455 12.5,4.455 L12.5,0.513 L8.171,0.5 C4.244,0.5 3.5,3.438 3.5,5.32 L3.5,7.464 L0.5,7.464 L0.5,11.464 L3.5,11.464 C3.5,16.676 3.5,23.464 3.5,23.464 L8.5,23.464 C8.5,23.464 8.5,16.614 8.5,11.464 L12.351,11.464 L12.768,7.465 Z"/>
          </svg>
        </button>
        <button class="timeline__button" type="button" @click="commentsShare()">
          <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Fin" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Prese---UVOD" transform="translate(-1351.000000, -1564.000000)" fill="#000000" fill-rule="nonzero">
                <g id="bubble-chat-2.2.3.1" transform="translate(1350.000000, 1564.000000)">
                  <path d="M12.997,0.903 C6.38,0.903 0.997,5.337 0.997,10.786 C0.997,13.359 2.174,15.771 4.322,17.617 L1.912,22.428 C1.698,22.854 2.148,23.305 2.57,23.105 L9.007,20.11 C10.285,20.48 11.626,20.668 12.997,20.668 C19.614,20.668 24.997,16.235 24.997,10.786 C24.997,5.337 19.613,0.903 12.997,0.903 Z" id="Shape"></path>
                </g>
              </g>
            </g>
          </svg>
        </button>
      </div>
      <button type="button" class="timeline__button" @click="mobileShareboxVisible = !mobileShareboxVisible">
        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Fin" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Prese---UVOD" transform="translate(-1349.000000, -1637.000000)" fill="#000000" fill-rule="nonzero">
                <path d="M1368.2,1651.4 C1366.7564,1651.4 1365.464,1652.0411 1364.5835,1653.0503 L1358.4929,1650.005 C1358.5619,1649.681 1358.6,1649.3444 1358.6,1649 C1358.6,1648.6556 1358.5619,1648.319 1358.4929,1647.995 L1364.5838,1644.9497 C1365.4637,1645.9592 1366.7564,1646.6 1368.2,1646.6 C1370.8508,1646.6 1373,1644.4508 1373,1641.8 C1373,1639.1492 1370.8508,1637 1368.2,1637 C1365.5492,1637 1363.4,1639.1492 1363.4,1641.8 C1363.4,1642.1444 1363.4381,1642.481 1363.5071,1642.805 L1357.4165,1645.8503 C1356.5363,1644.8408 1355.2442,1644.2 1353.8,1644.2 C1351.1492,1644.2 1349,1646.3492 1349,1649 C1349,1651.6508 1351.1492,1653.8 1353.8,1653.8 C1355.2442,1653.8 1356.536,1653.1589 1357.4165,1652.1497 L1363.5071,1655.195 C1363.4381,1655.519 1363.4,1655.8556 1363.4,1656.2 C1363.4,1658.8508 1365.5492,1661 1368.2,1661 C1370.8508,1661 1373,1658.8508 1373,1656.2 C1373,1653.5492 1370.8508,1651.4 1368.2,1651.4 Z M1368.2,1639.4 C1369.5254,1639.4 1370.6,1640.4746 1370.6,1641.8 C1370.6,1643.1254 1369.5254,1644.2 1368.2,1644.2 C1366.8746,1644.2 1365.8,1643.1254 1365.8,1641.8 C1365.8,1640.4746 1366.8746,1639.4 1368.2,1639.4 Z M1353.8,1651.4 C1352.4746,1651.4 1351.4,1650.3254 1351.4,1649 C1351.4,1647.6746 1352.4746,1646.6 1353.8,1646.6 C1355.1254,1646.6 1356.2,1647.6746 1356.2,1649 C1356.2,1650.3254 1355.1254,1651.4 1353.8,1651.4 Z M1368.2,1658.6 C1366.8746,1658.6 1365.8,1657.5254 1365.8,1656.2 C1365.8,1654.8746 1366.8746,1653.8 1368.2,1653.8 C1369.5254,1653.8 1370.6,1654.8746 1370.6,1656.2 C1370.6,1657.5254 1369.5254,1658.6 1368.2,1658.6 Z" id="Shape"></path>
            </g>
          </g>
        </svg>
      </button>
    </div>
    <div class="timeline__actions">
      <div class="timeline__back">
        <button type="button" class="timeline__button" @click="scrollToTop()">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16">
            <g fill="none" fill-rule="evenodd" stroke="#CF2528" stroke-width="2" transform="translate(1 2)">
              <polyline points="2 2 11 2 11 11" transform="rotate(-45 6.5 6.5)"/>
              <polyline points="2 8 11 8 11 17" transform="rotate(-45 6.5 12.5)"/>
            </g>
          </svg>
        </button>
      </div>
      <div class="timeline__nav">
        <div class="share-box share-box--desktop" v-bind:class="{'is-visible': desktopShareboxVisible}">
          <button class="timeline__button" type="button" @click="twitterShare()">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="19" viewBox="0 0 23 19">
              <path fill="#000000" d="M22.444,2.834 C21.63,3.197 20.944,3.209 20.217,2.85 C21.155,2.288 21.198,1.893 21.537,0.831 C20.659,1.352 19.686,1.731 18.651,1.935 C17.823,1.053 16.642,0.5 15.335,0.5 C12.825,0.5 10.791,2.536 10.791,5.044 C10.791,5.4 10.831,5.747 10.908,6.08 C7.132,5.891 3.783,4.082 1.542,1.332 C1.151,2.003 0.927,2.784 0.927,3.617 C0.927,5.194 1.73,6.584 2.948,7.399 C2.203,7.375 1.503,7.171 0.891,6.831 C0.89,6.85 0.89,6.868 0.89,6.888 C0.89,9.09 2.456,10.926 4.536,11.344 C3.87,11.525 3.168,11.553 2.483,11.423 C3.062,13.227 4.74,14.541 6.728,14.578 C4.783,16.102 2.372,16.737 0,16.459 C2.012,17.748 4.399,18.5 6.966,18.5 C15.324,18.5 19.894,11.576 19.894,5.571 C19.894,5.373 19.891,5.178 19.882,4.983 C20.769,4.343 21.835,3.746 22.444,2.834 Z"/>
            </svg>
          </button>
          <button class="timeline__button" type="button" @click="facebookShare()">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="24" viewBox="0 0 13 24">
              <path fill="#333333" d="M12.768,7.465 L8.5,7.465 L8.5,5.56 C8.5,4.664 9.094,4.455 9.512,4.455 C9.93,4.455 12.5,4.455 12.5,4.455 L12.5,0.513 L8.171,0.5 C4.244,0.5 3.5,3.438 3.5,5.32 L3.5,7.464 L0.5,7.464 L0.5,11.464 L3.5,11.464 C3.5,16.676 3.5,23.464 3.5,23.464 L8.5,23.464 C8.5,23.464 8.5,16.614 8.5,11.464 L12.351,11.464 L12.768,7.465 Z"/>
            </svg>
          </button>
          <button class="timeline__button" type="button" @click="commentsShare()">
            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Fin" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Prese---UVOD" transform="translate(-1351.000000, -1564.000000)" fill="#000000" fill-rule="nonzero">
                  <g id="bubble-chat-2.2.3.1" transform="translate(1350.000000, 1564.000000)">
                    <path d="M12.997,0.903 C6.38,0.903 0.997,5.337 0.997,10.786 C0.997,13.359 2.174,15.771 4.322,17.617 L1.912,22.428 C1.698,22.854 2.148,23.305 2.57,23.105 L9.007,20.11 C10.285,20.48 11.626,20.668 12.997,20.668 C19.614,20.668 24.997,16.235 24.997,10.786 C24.997,5.337 19.613,0.903 12.997,0.903 Z" id="Shape"></path>
                  </g>
                </g>
              </g>
            </svg>
          </button>
        </div>
        <button class="timeline__button share-button--desktop" type="button" @click="desktopShareboxVisible = !desktopShareboxVisible">
          <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Fin" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Prese---UVOD" transform="translate(-1349.000000, -1637.000000)" fill="#000000" fill-rule="nonzero">
                      <path d="M1368.2,1651.4 C1366.7564,1651.4 1365.464,1652.0411 1364.5835,1653.0503 L1358.4929,1650.005 C1358.5619,1649.681 1358.6,1649.3444 1358.6,1649 C1358.6,1648.6556 1358.5619,1648.319 1358.4929,1647.995 L1364.5838,1644.9497 C1365.4637,1645.9592 1366.7564,1646.6 1368.2,1646.6 C1370.8508,1646.6 1373,1644.4508 1373,1641.8 C1373,1639.1492 1370.8508,1637 1368.2,1637 C1365.5492,1637 1363.4,1639.1492 1363.4,1641.8 C1363.4,1642.1444 1363.4381,1642.481 1363.5071,1642.805 L1357.4165,1645.8503 C1356.5363,1644.8408 1355.2442,1644.2 1353.8,1644.2 C1351.1492,1644.2 1349,1646.3492 1349,1649 C1349,1651.6508 1351.1492,1653.8 1353.8,1653.8 C1355.2442,1653.8 1356.536,1653.1589 1357.4165,1652.1497 L1363.5071,1655.195 C1363.4381,1655.519 1363.4,1655.8556 1363.4,1656.2 C1363.4,1658.8508 1365.5492,1661 1368.2,1661 C1370.8508,1661 1373,1658.8508 1373,1656.2 C1373,1653.5492 1370.8508,1651.4 1368.2,1651.4 Z M1368.2,1639.4 C1369.5254,1639.4 1370.6,1640.4746 1370.6,1641.8 C1370.6,1643.1254 1369.5254,1644.2 1368.2,1644.2 C1366.8746,1644.2 1365.8,1643.1254 1365.8,1641.8 C1365.8,1640.4746 1366.8746,1639.4 1368.2,1639.4 Z M1353.8,1651.4 C1352.4746,1651.4 1351.4,1650.3254 1351.4,1649 C1351.4,1647.6746 1352.4746,1646.6 1353.8,1646.6 C1355.1254,1646.6 1356.2,1647.6746 1356.2,1649 C1356.2,1650.3254 1355.1254,1651.4 1353.8,1651.4 Z M1368.2,1658.6 C1366.8746,1658.6 1365.8,1657.5254 1365.8,1656.2 C1365.8,1654.8746 1366.8746,1653.8 1368.2,1653.8 C1369.5254,1653.8 1370.6,1654.8746 1370.6,1656.2 C1370.6,1657.5254 1369.5254,1658.6 1368.2,1658.6 Z" id="Shape"></path>
                  </g>
              </g>
          </svg>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { EventBus } from './../../main';
import * as Hammer from 'hammerjs';
import { shortDate } from './../../utils/short-date';
import { scrollIt } from './../../utils/scroll-it';
import { sharing } from './../../utils/sharing';
import { tracking } from './../../utils/tracking';

import _ from 'lodash';

export default {
  name: "Timeline",
  props: ["data"],
  watch: {
    data(n, o) {
      const scroll = document.querySelector('.y-nav__scroll');
      scroll.style.transform = `translateY(${(window.innerHeight - 45) / 2}px)`;

      this.currentSlide = 0;
      this.currentDay = 0;
    }
  },
  data() {
    return {
      currentSlide: 0,
      currentDay: 0,
      desktopShareboxVisible: false,
      mobileShareboxVisible: false
    };
  },
  mounted() {
    const scrollY = document.querySelector('.y-nav__scroll');
    scrollY.style.transform = `translateY(${(window.innerHeight - 45) / 2}px)`;

    const areaX = document.querySelector('.x-nav-wrap');
    const scrollX = document.querySelector('.x-nav__scroll');
    scrollX.style.transform = `translateX(${(areaX.offsetWidth / 2) - 47}px)`;

    const timeline = document.querySelector('.timeline__wrap');

    window.addEventListener('scroll', (e) => {
      if ( (window.innerHeight + window.scrollY) >= document.body.offsetHeight ) {
        timeline.style.overflow = 'auto';
      }
    });

    timeline.addEventListener('scroll', _.throttle(this.handleScroll, 250));

    this.initializeTimelineHeight();

    let resizeTimer;
    window.addEventListener('resize', () => {
      clearTimeout(resizeTimer);
      resizeTimer = setTimeout(() => {
        this.initializeTimelineHeight();
        this.updateTimelineY();
      }, 250);
    });
  },
  methods: {
    facebookShare() {
      EventBus.$emit('fbShare');
    },
    twitterShare() {
      EventBus.$emit('twShare');
    },
    commentsShare() {
      EventBus.$emit('commentsShare');
    },
    initializeTimelineHeight() {
      const timeline = document.querySelector('.timeline');
      timeline.style.height = `${window.innerHeight}px`;
    },
    scrollToTop() {
      scrollIt(
        document.querySelector('.header'),
        300,
        'easeOutQuad',
        () => {
          this.setDay(0);
        }
      );
    },
    setDay(day) {
      this.currentDay = day;

      const entry = document.getElementById(`timeline-entry-${day}`);
      const parent = document.querySelector('.timeline__wrap');

      const actualScrollTop = parent.scrollTop;
      const newScrollTop = entry.offsetTop - 120;

      TinyAnimate.animate(actualScrollTop, newScrollTop, 300, (x) => {
          parent.scrollTop = x;
        }, 'linear', () => {
          this.updateTimelineX();
          this.updateTimelineY();
        });
    },
    updateTimelineX() {
      const areaX = document.querySelector('.x-nav-wrap');
      const scrollX = document.querySelector('.x-nav__scroll');
      scrollX.style.transform = `translateX(${((areaX.offsetWidth / 2) - 47) - this.currentDay * 94}px)`;
    },
    updateTimelineY() {
      const scroll = document.querySelector('.y-nav__scroll');
      scroll.style.transform = `translateY(${((window.innerHeight - 45) / 2) - (this.currentDay * 45)}px)`;
    },
    handleScroll() {
      const entries = document.querySelectorAll('.timeline-entry');
      const timeline = document.querySelector('.timeline__wrap');

      entries.forEach(element => {
        if ((element.offsetTop - timeline.scrollTop - 300) <= 0) {
          this.currentDay = element.dataset.item;
          this.updateTimelineX();
          this.updateTimelineY();
        }
      });

      if (timeline.scrollTop == 0) {
        timeline.style.overflow = 'hidden';
      }
    },
    getPrevIcon() {
      return `
        <svg width="14px" height="24px" viewBox="0 0 14 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-360.000000, -414.000000)">
            <g id="Group" transform="translate(347.000000, 217.000000)" fill="#FFFFFF" fill-rule="nonzero">
              <polygon id="ArrowLeft" points="16.5147186 209 26.4142136 218.899495 25 220.313708 13.6862915 209 25 197.686292 26.4142136 199.100505"></polygon>
            </g>
          </g>
        </svg>
      `
    },
    getNextIcon() {
      return `
        <svg width="14px" height="24px" viewBox="0 0 14 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-1041.000000, -414.000000)">
            <g id="Group" transform="translate(347.000000, 217.000000)" fill="#FFFFFF" fill-rule="nonzero">
                <polygon id="ArrowRight" transform="translate(701.050253, 209.000000) scale(-1, 1) translate(-701.050253, -209.000000) " points="697.514719 209 707.414214 218.899495 706 220.313708 694.686292 209 706 197.686292 707.414214 199.100505"></polygon>
            </g>
          </g>
        </svg>
      `
    },
    pageChange(index) {
      this.currentSlide = index;
    }
  },
  filters: {
    shortDate(string) {
      return shortDate(string);
    }
  }
};
</script>
<style src="./Timeline.scss" lang="scss"></style>
