.timeline {
  background-color: #f7f7f7;
  position: relative;
  overflow: hidden;
}

.timeline__wrap {
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;

  @media (max-width: 767px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: 768px) {
    padding-left: 200px;
    padding-right: 200px;
    // position: relative;
    // z-index: 10;
  }
}

.timeline-entry {
  margin: 120px auto;
}

.timeline__item {
  border: 1px solid #cfcfcf;
  background-color: #fff;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  &.wide {
    @media (min-width: 900px) {
      width: 585px;
    }
  }

  &.narrow {
    @media (min-width: 900px) {
      height: 530px;
      display: flex;
      max-width: 945px;

      .timeline__image {
        flex-shrink: 0;
      }
    }
  }
}

.timeline__item--gallery {
  max-width: 640px;
}

.timeline__item--infographics {
  max-width: 585px;
}

.timeline__image {
  overflow-y: hidden;
}

.timeline__entry-item {
  width: 100%;
  max-width: 825px;
  border: 1px solid #cfcfcf;
  background-color: #fff;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.19);
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 992px) {
    display: flex;
  }
}

.timeline__entry-item__image {
  background-color: rgba(#d8d8d8, .1);
  position: relative;

  @media (max-width: 539px) {
    height: 60px;
  }

  @media (min-width: 540px) and (max-width: 991px) {
    height: 115px;
  }

  @media (min-width: 992px) {
    width: 115px;
    flex-shrink: 0;
  }

  img {
    height: auto;
    border-radius: 50%;
    position: absolute;


    @media (max-width: 539px) {
      max-width: 70px;
    }

    @media (min-width: 540px) {
      max-width: 155px;
    }

    @media (max-width: 991px) {
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
    }

    @media (min-width: 992px) {
      top: 30px;
      right: 0;
      transform: translateX(50%);
    }
  }
}

.timeline__entry-item__content {
  flex-grow: 1;
  font-family: "greta-light";
  font-size: 16px;
  line-height: 20px;

  @media (max-width: 539px) {
    padding: 50px 30px 30px 30px;
  }

  @media (min-width: 540px) and (max-width: 991px) {
    padding: 100px 30px 30px 30px;
  }

  @media (min-width: 992px) {
    padding: 30px 30px 30px 100px;
  }
}

.timeline__entry-item__author {
  font-family: 'fedra-bold';
  text-align: right;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 10px;
}

.timeline__inner {
  position: relative;
  flex-grow: 1;

  @media (max-width: 767px) {
    padding: 20px;
  }

  @media (min-width: 768px) {
    padding: 30px;
  }
}

.timeline__author {
  font-family: 'fedra-bold';
  font-size: 13px;
  opacity: .5;
  text-transform: uppercase;
  margin-top: 10px;
}

.timeline__title {
  font-family: 'fedra-bold';


  @media (max-width: 767px) {
    font-size: 14px;
    margin-bottom: 10px;
  }

  @media (min-width: 768px) {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 30px;
  }
}

.timeline__author-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 185px;
  height: 100%;
}

.timeline__text {
  font-family: "greta-light";
  font-size: 16px;
  line-height: 23px;
}

.timeline__subtext {
  font-family: "greta-light";
  font-size: 16px;
  line-height: 23px;
}

.timeline__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 20px;
  right: 20px;

  @media (max-width: 767px) {
    bottom: 60px;
  }

  @media (min-width: 768px) {
    bottom: 20px;
  }
}

.timeline__button {
  transition: all .3s ease;
  display: block;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #cfcfcf;

  @media (max-width: 767px) {
    height: 40px;
    width: 40px;
  }

  @media (min-width: 768px) {
    height: 53px;
    width: 53px;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.timeline__back {
  position: relative;
  z-index: 11;

  button {
    border: 1px solid #cf2528;
  }
}

.timeline__nav {
  position: relative;
  z-index: 11;

  button {
    border: 1px solid #cfcfcf;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.y-nav {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 162px;
  overflow: hidden;

  @media (max-width: 767px) {
    display: none;
  }
}

.y-nav__background {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 132px;
  background-color: #fff;
}

.y-nav__scroll {
  transition: transform 0.3s ease;
}

.y-nav__item {
  cursor: pointer;
  font-weight: 600;
  width: 162px;
  height: 45px;
  line-height: 45px;
  position: relative;
  padding-right: 30px;
  text-align: center;
}

.y-nav__marker {
  position: absolute;
  left: 0;
  border-top: 1px solid #db282b;
  border-bottom: 1px solid #db282b;
  width: 162px;
  height: 45px;
  top: 50%;
  z-index: 9;
  transform: translateY(-50%);

  svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    background-color: #db282b;
  }
}

.y-nav__link {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.y-nav__overlay {
  position: absolute;
  left: 0;
  height: 170px;
  width: 132px;
  z-index: 9;
}

.y-nav__overlay--top {
  top: 0;
  background-image: linear-gradient(-180deg, #F5F5F5 0%, rgba(245,245,245,0.00) 100%);
}

.y-nav__overlay--bottom {
  bottom: 0;
  background-image: linear-gradient(-180deg, rgba(245,245,245,0.00) 0%, #F5F5F5 100%);
}

.x-nav-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  @media (min-width: 768px) {
    display: none;
  }
}

.x-nav {
  background-color: #fff;
  height: 45px;
  overflow: hidden;
}

.x-nav__scroll {
  display: flex;
  transition: transform 0.3s ease;
}

.x-nav__item {
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  width: 94px;
  height: 45px;
  flex-shrink: 0;
  line-height: 45px;
  position: relative;
  text-align: center;
}

.x-nav__marker {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-left: 1px solid #db282b;
  border-right: 1px solid #db282b;
  width: 94px;
  height: 70px;
  z-index: 9;
  text-align: center;
  padding-top: 4px;

  svg {
    position: relative;
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: #db282b;
  }
}

.x-nav__overlay {
  position: absolute;
  top: 0;
  width: 65px;
  height: 100%;
  z-index: 9;
}

.x-nav__overlay--left {
  left: 0;
  background-image: linear-gradient(to left, rgba(245,245,245,0.00) 0%, #F5F5F5 100%);
}

.x-nav__overlay--right {
  right: 0;
  background-image: linear-gradient(to right, rgba(245,245,245,0.00) 0%, #F5F5F5 100%);
}

.share-box {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(calc(-100% - 20px));


  button {
    opacity: 0;
    visibility: hidden;

    @media (max-width: 767px) {
      svg {
        height: 20px;
        width: 20px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:nth-child(1) {
      transition-delay: 0.15s;
      transform: rotate(20deg);
    }

    &:nth-child(2) {
      transition-delay: 0.2s;
      transform: rotate(40deg);
    }

    &:nth-child(3) {
      transition-delay: 0.25s;
      transform: rotate(60deg);
    }
  }

    &.is-visible {
      button {
        opacity: 1;
        visibility: visible;
        transform: rotate(0);

        &:nth-child(3) {
          transition-delay: 0.15s;
        }

        &:nth-child(2) {
          transition-delay: 0.2s;
        }

        &:nth-child(1) {
          transition-delay: 0.25s;
        }
      }
  }
}

.share-box--desktop {
  @media (max-width: 767px) {
    display: none;
  }
}

.share-button--mobile {
  position: absolute;
  left: 20px;
  bottom: 60px;

  svg {
    height: 20px;
    width: 20px;
  }
}

.share-button--mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.share-button--desktop {
  @media (max-width: 767px) {
    display: none;
  }
}

.carousel {
  margin: 0 -40px;
  position: relative;
}

.VueCarousel-navigation-button {
  background-color: rgba(#000, .2);
  position: absolute;
  top: 0 !important;
  height: 100%;
  width: 40px;
  transform: none !important;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.VueCarousel-navigation-prev {
  left: 0;
}

.VueCarousel-navigation-next {
  right: 0;
}
