<template>
  <div class="mt6">
    <div class="wrapper wrapper--850">
      <div class="entry">
        <div class="entry__author">
          <img src="./../../../static/images/final-author-tall.jpg" class="entry__author-image--tall">
          <img src="./../../../static/images/final-author-wide.jpg" class="center-block img-responsive entry__author-image--wide">
          <div class="entry__author-name">Jakub Filo</div>
          <div class="entry__author-position">Zástupca šéfredaktorky</div>
        </div>
        <div class="entry__content">
          <p class="fs21">Nebola to nuda ani tragédia. Skôr naopak. Práve tento pocit utkvel v pamäti, keď sme posledné dva mesiace dávali dohromady seriál SME 25 rokov Slovenska.</p>
          <p>Rýchly rozvod s Čechmi, Mečiarov kult aj krutosť jeho vládnutia, snaha o dobehnutie Únie a zrodenie stredoeurópskeho tigra, Dzurindove a Miklošove reformy, ktoré vlastne neboli úplne ich, Schengen a neskôr aj euro, stále nezmazateľná korupcia, Ficovo jednofarebné vládnutie, cez ktoré sa nezmenil na nikoho ako Orbán, ale aj také potrebné a chýbajúce vízie.</p>
          <p>Slovenská spoločnosť dnes funguje. Popritom čo vidíme, ako sa v Maďarsku alebo v Poľsku stráca demokracia a porevolučné slobody, tak sa nám podarilo so všetkými tými chybami, so všetkými korupčnými kauzami, vďaka aj napriek politikom a ich vyhláseniam, ísť 25 rokov úspešným smerom.  Obyvatelia Slovenska dnes nie sú najbohatší v Európe a ich platy stále nedosahujú tie západné. Životná úroveň stúpa a Slovensko už nie je len nejaká krajina vo východnej Európe.</p>
          <p>Navyše rok 2017, podobne ako tie, keď skončil Mečiar či keď sme vstúpili do Únie, ukázal, že sú dôležité aj ďalšie veci. Študenti chápu, že ak chcú v tejto krajine žiť, majú právo hovoriť do diania v nej, a väčšina voličov hlasovala proti fašizmu v Banskej Bystrici.  Nemusí byť vždy všetko ideálne a niekedy prídu aj horšie roky či obdobia. Ale Slovensko a jeho obyvatelia napriek drobným zaváhaniam nikdy neprišli o šancu stále napredovať.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { EventBus } from './../../main';

export default {
  name: 'Entry',
  methods: {
    facebookShare() {
      EventBus.$emit('fbShare');
    },
    twitterShare() {
      EventBus.$emit('twShare');
    },
    commentsShare() {
      EventBus.$emit('commentsShare');
    }
  },
  props: ['data']
}
</script>

<style src="./Final.scss" lang="scss"></style>
