.final-wrap {
  position: relative;
}

.final {
  h1 {
    font-family: 'fedra-bold';
    margin-bottom: 60px;

    @media (min-width: 768px) {
      font-size: 68px;
    }
  }

  dl {
    font-size: 18px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  dt {
    font-family: 'fedra-bold';
    margin-bottom: 14px;
  }

  dd {
    font-family: "greta-light";
    line-height: 26px;
    margin-left: 0;
  }

  dd + dt {
    margin-top: 60px;
  }
}
