<template>

  <div>
    <transition appear enter-active-class="animated slideInDown">
      <header class="header">
        <a href="https://www.sme.sk/?ref=25rokov" class="header__logo">
          <svg id="svg-icon-sme-logo" viewBox="0 0 68 24" width="100%" height="100%">
            <path d="M0 21.192v0c6.017 3.451 18.802 4.424 18.846-6.017 0-5.751-9.335-5.663-9.335-8.007 0-2.831 5.928 0.265 6.503 0.708 0.796-1.991 1.637-3.982 2.477-5.972-5.84-3.141-17.253-3.229-17.253 6.238 0 5.707 8.892 5.397 8.892 7.875 0 3.406-7.123-0.929-7.521-1.194-0.841 2.124-1.725 4.247-2.61 6.37zM42.382 23.138h8.052l-3.628-22.783h-8.45l-3.274 12.299h-0.133l-3.097-12.299h-8.45l-3.893 22.783h8.096l1.327-13.183 3.628 13.183h4.866l3.628-13.183 1.327 13.183zM52.689 23.138v0.044h15.44v-6.194h-7.388v-2.389h6.547v-5.84h-6.547v-2.212h7.211v-6.194h-15.263v22.783z"></path>
          </svg>
        </a>
        <div class="header__title">25 rokov slovenska</div>
      </header>
    </transition>
    <Years></Years>
  </div>

</template>

<script>
import Detail from './components/Detail/Detail';
import Years from './components/Years/Years';

export default {
  name: 'app',
  components: {
    Years
  }
}
</script>
